*{
    margin: 0px; 
}
.container {
    height: 100vh;
    width: 100vw
}

header {
    height: 5%;
    background: grey;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
    color: white;
    align-content: center;
}

.company {
    position: fixed;
    left: 3vw;
    top: 1.4vh;
    font-size: larger;
}

.menu {
    position: fixed;
    
    right: 3vw;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    align-content: center;
    top: 1.9vh;
    font-size: x-small;

}

.themore {
    background: black;
    height: 25%;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.greensquares {
    background: white;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.greenone {
    height: 8rem;
    width: 8rem;
    background: lightgreen;
    border-radius: 1rem;
}



.greentwo {
    height: 8rem;
    width: 8rem;
    background: lightgreen;
    border-radius: 1rem;
}

.greenthree {
    height: 8rem;
    width: 8rem;
    background: lightgreen;
    border-radius: 1rem;
}



.orangesqaures {
    background: white;
    height: 29%;
    width: 100%;
    display: flex;
    
}

.squareone {
    height: 8rem;
    width: 8rem;
    background: lightgreen;
    border-radius: 1rem;
}

.articleandpic {
    display: flex;
    width: 80%;
    padding-left: 10%;
    padding-bottom: 1.5%;
    
    align-items: center;
    justify-content: space-between;
    
    background: white;
    height: 15%;
    font-size: x-small;
    
}

article {
    height: 100%;
    width: 40%;
    
    
}




.middle {
    height: 60%;
    width: 90%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5vw;
    
}



footer {
    background: #483E74  ;
    height: 10%;
}

image {
    height: 4rem;
    width: 4rem;
}

.orangeone {
    height: 100px;
    width:  350px;
    background: orange;
    position: fixed;
    top: 55vh;

}

.orangetwo {
    height: 100px;
    width:  350px;
    background: orange;
    position: fixed;
    right: 5vw;
    top: 55vh;

}

